{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "printWidth": 120,
  "importOrder": [
    "^react$",
    "^next",
    "^react",
    "^@?\\w",
    "^[a-z]",
    "^@/(.*)$",
    "^\\.{1,2}/"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "singleAttributePerLine": true,
  "bracketSameLine": false
}